#include <windows.h>

LANGUAGE LANG_PORTUGUESE,SUBLANG_PORTUGUESE_BRAZILIAN

application_ico  ICON     res\icone.ico
#ifndef __64__
1    24     "d:\\devel\\res\\WindowsXP.Manifest"
#else
1    24     "d:\\devel\\res\\WindowsXP.Manifest64"
#endif

ICON_1 ICON  res\icone.ico

1004 ICON   "Res\\icone.ico"
1005 BITMAP "Res\\sair.bmp"
1006 BITMAP "Res\\ok.bmp"
1007 BITMAP "Res\\maiszoon.bmp"
1008 BITMAP "Res\\menoszoon.bmp"
1009 BITMAP "Res\\printer.bmp"
1010 BITMAP "Res\\pdf.bmp"
1011 BITMAP "Res\\word.bmp"
1012 BITMAP "Res\\html.bmp"
1013 BITMAP "Res\\excel.bmp"
1014 BITMAP "Res\\email.bmp"
1015 BITMAP "Res\\construcao.bmp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 9,0,0,0
PRODUCTVERSION 9,0,0,0
FILEFLAGSMASK 0x0
FILEFLAGS 0x0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "Comments",         "Sistema Desenvolvido Pela Sygecom Informática Ltda - www.sygecom.com.br \0"
      VALUE "CompanyName",      "Sygecom Informática Ltda - www.sygecom.com.br\0"
      VALUE "FileDescription",  "SCM(SISTEMA GERENCIADOR DE MENSALIDADE)\0"
      VALUE "FileVersion",      "1.0000\0"
      VALUE "InternalName",     "Projeto SCM\0"
      VALUE "LegalCopyright",   "Sygecom Informática Ltda\0"
      VALUE "LegalTrademarks",  "SCM / SYGECOM\0"
      VALUE "OriginalFilename", "SCM.EXE\0"
      VALUE "ProductName",      "SCM(SISTEMA GERENCIADOR DE MENSALIDADE)\0"
      VALUE "ProductVersion",   "1.0000\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x416, 0x4B0
  }
}
